body {
    background-color: black;
    background-image: url("../images/logo.png"); /* Replace 'your-image-url.jpg' with the actual image URL */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.prompt_container {
    width: 900px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: beige;
}

.prompt {
    font-size: 15px;
    color: #333;
    font-family: 'Apple Chancery', 'URW Chancery L', 'Bradley Hand', cursive;
}

.button_container {
    padding: 20px;
    background-color: grey;
    position: fixed;
    bottom: 70px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}

.sbutton, .rbutton {
    background-color: beige;
    width: 45%;
    height: 150px;
    border-radius: 10px;
    font-family: 'Apple Chancery', 'URW Chancery L', 'Bradley Hand', cursive;

}

.button-text {
    text-align: left;
    padding: 10px;
}

